{% extends 'principal/plantilla.html' %}
{% load static %}

{% block banner %}
<div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-start">
  <h1 class="text-white fw-light">Trae <span class="typed-text fw-bold"
      data-typed-text='["belleza","salud","cuidado","elegancia"]'></span><br />a tus plantas</h1>
  <p class="lead text-white opacity-75">
    Con la ayuda de TechForest lograras cuidar a tus plantas de forma eficaz y comoda!</p>
</div>
<div class="col-xl-7 offset-xl-1 align-self-end mt-4 mt-xl-0"><a class="img-landing-banner rounded"
    href="/"><img class="img-fluid" src="{% static 'assets/img/generic/dashboard-alt-2.png' %}" alt="" /></a>
</div>
{% endblock banner %}

{% block content %}





<!-- ============================================-->
<!-- <section> begin ============================-->
<section>

  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <h1 class="fs-2 fs-sm-4 fs-md-5">TechForest cuida a tus plantas</h1>
        <p class="lead">Sistema de riego automatico, con opcion a manual, para el cuidado de plantas a nivel domestico
          como empresarial.</p>
      </div>
    </div>
    <div class="row flex-center mt-8">
      <div class="col-md col-lg-5 col-xl-4 ps-lg-6"><img class="img-fluid px-6 px-md-0"
          src="{% static 'assets/img/illustrations/agua.png' %}" alt="" /></div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h5 class="text-danger"><span class="far fa-lightbulb me-2"></span>Ventaja 01</h5>
        <h3>Ahorro de agua </h3>
        <p>Al saber la humedad de nuestro suelo logramos controlar el flujo de agua.</p>
      </div>
    </div>
    <div class="row flex-center mt-7">
      <div class="col-md col-lg-5 col-xl-4 pe-lg-6 order-md-2"><img class="img-fluid px-6 px-md-0"
          src="{% static 'assets/img/illustrations/riego.png' %}" alt="" /></div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h5 class="text-info"> <span class="far fa-object-ungroup me-2"></span>Ventaja 02
        </h5>
        <h3>Mayor eficiencia de riego</h3>
        <p>Gracias a los datos que obtenemos logramos contruir un sistema de riego adecuado para nuestros tipos de
          plantas.</p>
      </div>
    </div>
    <div class="row flex-center mt-7">
      <div class="col-md col-lg-5 col-xl-4 ps-lg-6"><img class="img-fluid px-6 px-md-0"
          src="{% static 'assets/img/illustrations/produccion.png' %}" alt="" /></div>
      <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
        <h5 class="text-success"><span class="far fa-paper-plane me-2"></span>Ventaja 03
        </h5>
        <h3>Aumentos de la producción</h3>
        <p>Al darle la adecuada cantidad de agua a nuestro sembradio, logramos que nuestras plantascrezcan mas rapido y
          mejor.</p>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->




<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-light text-center">
  <div class="container">
    <div class="row mt-lg-5">
      <div class="col">
        <h1 class="fs-2 fs-sm-4 fs-md-5">Tecnologias Usadas</h1>
        <p class="lead">Proyecto Integrador</p>
      </div>
    </div>
    
    <div class="row mt-6">
      <div class="col-lg-4">
        <div class="card card-span h-100">
          <div class="card-span-img"><img class="img-fluid p-3" src="{% static 'assets/img/illustrations/androide.png' %}"
              alt="Card image cap" /></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Android</h5>
            <p>Sistema operativo móvil basado en el núcleo Linux y otros software de código abierto.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><img class="img-fluid p-3" src="https://fullcoder.org/_images/logo-django.png"
              alt="Card image cap" /></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Django</h5>
            <p>Framework de desarrollo web de código abierto, escrito en Python, que respeta el patrón de diseño conocido
              como modelo–vista–controlador.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img"><img class="img-fluid p-3"
              src="https://electronperdido.com/wp-content/uploads/2021/02/arduino-logo-1.png" alt="Card image cap" />
          </div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Arduino</h5>
            <p>Plataforma de creación de electrónica de código abierto, la cual está basada en hardware y software libre,
              flexible y fácil de utilizar para los creadores y desarrolladores.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-5">
        <div class="card card-span h-100">
          <div class="card-span-img"><img class="img-fluid p-3"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Kotlin_Icon.svg/2048px-Kotlin_Icon.svg.png"
              alt="Card image cap" /></span></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Kotlin</h5>
            <p>Lenguaje de programación de tipado estático que corre sobre la máquina virtual de Java y que también puede
              ser compilado a código fuente de JavaScript.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-5">
        <div class="card card-span h-100">
          <div class="card-span-img"><img class="img-fluid p-3"
              src="https://cdn.picpng.com/logo/language-logo-python-44976.png" alt="Card image cap" /></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Python</h5>
            <p>Lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código.​</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-5">
        <div class="card card-span h-100">
          <div class="card-span-img"><img class="img-fluid p-3"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/911px-ISO_C%2B%2B_Logo.svg.png"
              alt="Card image cap" /></div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">C++</h5>
            <p>Lenguaje de programación que proviene de la extensión del lenguaje C para que pudiese manipular objetos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->




<!-- ============================================-->
<!-- <section> begin ============================-->
  <section class="bg-200 text-center">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-8">
                <div class="swiper-container theme-slider"
                    data-swiper='{"autoplay":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"slideToClickedSlide":true}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="px-5 px-sm-6">
                                <p class="fs-sm-1 fs-md-2 fst-italic text-dark">
                                    TechForest es una gran opcion si queremos un sistema de riego, ya que nos ayudo
                                    a monitorear el riego en nuestra siembra, asi como saber el estado de humedad de nuestras
                                    plantas en tiempo real.
                                </p>
                                <p class="fs-0 text-600">- Michael Gelchie, Director ejecutivo</p><img class="w-auto mx-auto"
                                    src="https://www.comunicaffe.com/wp-content/uploads/2016/12/Louis-Dreyfus-Company.png" alt="" height="45" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="px-5 px-sm-6">
                                <p class="fs-sm-1 fs-md-2 fst-italic text-dark">Somos grandes admiradores del 
                                    trabajo realizado por TechForest, ya que fue facil y eficiente implementar este sistema a nuestros sembradios.</p>
                                <p class="fs-0 text-600">- Jorge Ramírez, Gerente</p><img class="w-auto mx-auto"
                                    src="https://3.bp.blogspot.com/-T_YSCDnL9rM/W5XPNuxL2rI/AAAAAAAABIQ/LHSfc9ybKQsZDViscBfA8jbdEQBV_FRBgCLcBGAs/s1600/camposol.jpg" alt="" height="50" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="px-5 px-sm-6">
                                <p class="fs-sm-1 fs-md-2 fst-italic text-dark">Cuando conoci el sistema de riego TechForest,
                                    yo queria implementar tecnologia a mis filas, y TechForest no me decepciono.</p>
                                <p class="fs-0 text-600">- José Bardales Wong, Gerente Agricola</p><img class="w-auto mx-auto"
                                    src="https://www.palmas.com.pe/assets/images/logo-palmas.png" alt="" height="45" />
                            </div>
                        </div>
                    </div>
                    <div class="swiper-nav">
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->




<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="light">

  <div class="bg-holder overlay"
    style="background-image:url(https://t4.ftcdn.net/jpg/02/97/30/07/360_F_297300732_pfJHla4gl5vCCUzQMHpovN7MokCWbfzG.jpg);background-position: center top;">
  </div>
  <!--/.bg-holder-->

  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <p class="fs-3 fs-sm-4 text-white">Unete a nuestra aplicacion TechForest para mas informacion
          acerca de como se ha creado este proyecto.</p>
        <a class="btn btn-outline-light border-2 rounded-pill btn-lg mt-4 fs-0 py-2" href="/contacto" type="button">Unete</a>
      </div>
    </div>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
{% endblock content %}