{% extends 'principal/header.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
            <div class="col-lg-8 col-xxl-5 py-3 position-relative"><img class="bg-auth-circle-shape"
                                                                        src="{%  static 'assets/img/illustrations/bg-shape.png' %}"
                                                                        alt="" width="250"><img
                    class="bg-auth-circle-shape-2" src="{% static 'assets/img/illustrations/shape-1.png' %}" alt=""
                    width="150">
                <div class="card overflow-hidden z-index-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100">
                            <div class="col-md-5 text-center bg-card-gradient">
                                <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                                    <div class="bg-holder bg-auth-card-shape"
                                         style="background-image:url(assets/img/illustrations/half-circle.png);">
                                    </div>
                                    <!--/.bg-holder-->

                                    <div class="z-index-1 position-relative"><a
                                            class="link-light mb-4 font-sans-serif fs-4 d-inline-block fw-bolder"
                                            href="../../../index.html">TechForest</a>
                                        <p class="opacity-75 text-white">Bienvenido, ingresa tus credenciales.</p>
                                    </div>
                                </div>
                                <div class="mt-3 mb-4 mt-md-4 mb-md-5 light">
                                    <p class="text-white">No tienes una cuenta?<br><a
                                            class="text-decoration-underline link-light"
                                            href="/register">Registrarse!</a></p>
                                </div>
                            </div>
                            <div class="col-md-7 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">
                                    <div class="row flex-between-center">
                                        <div class="col-auto">
                                            <h3>Login</h3>
                                        </div>
                                    </div>
                                    {% comment %}Formulario{% endcomment %}
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label class="form-label" for="card-email">Username</label>
                                            <input name="username" class="form-control" id="card-email" type="text"/>
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex justify-content-between">
                                                <label class="form-label" for="card-password">Password</label>
                                            </div>
                                            <input name="password" class="form-control" id="card-password" type="password"/>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary d-block w-100 mt-3" type="submit"
                                                    name="submit">Log In
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}